REACT_APP_API_BASE_URL=
ALWAYSDATA_DB_HOST=
ALWAYSDATA_DB_NAME=
ALWAYSDATA_DB_PASSWORD=
ALWAYSDATA_DB_USER=
MPESA_BASE_URL=
MPESA_CALLBACK_URL=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_SHORTCODE=
MPESA_SIMULATE=
MPESA_SUBSCRIPTION_CALLBACK_URL=
TYPEARENA_ADMIN_EMAIL=
TYPEARENA_ADMIN_PASSWORD=
TYPEARENA_ADMIN_TOKEN_SECRET=